{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}CrediSmart{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .no-navbar .navbar {
            display: none;
        }
    </style>
</head>
<body class="{% if request.path == '/login/' or request.path == '/register/' %}no-navbar{% endif %}">
    <div class="navbar">
        <img src="{% static 'images/logo_credismart_webp.webp.png' %}" alt="CrediSmart Logo" class="logo">        
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'client_list' %}">Clientes</a>
        <a href="{% url 'partner_list' %}">Socios</a>
        <a href="{% url 'onboarding_status' %}">Seguimiento Socios</a>
        <a href="{% url 'create_client' %}">Crear Cliente</a>
        <a href="{% url 'create_partner' %}">Crear Socio</a>        
        <a href="{% url 'logout' %}">Cerrar Sesión</a>        
    </div>
    
    <div class="main-container">
        {% block content %}{% endblock %}
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>© 2025 ACN - CREDISMART. Todos los derechos reservados. Plataforma para uso exclusivo de Holcim - Disensa.</p>
            <p>Contacto: 
                <span>Celular: +57 323 5492939</span> | 
                <span>WhatsApp: <a href="https://wa.me/3185797904" target="_blank">+57 318 5797904</a></span> | 
                <span>Correo: <a href="mailto:info@credismart.com">reportes@credismart.com.co</a></span>
            </p>            
        </div>
    </footer>
    
</body>
</html>