<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Clientes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1" />
  </head>
  <body>
    <h1>Lista de Clientes</h1>
    <ul>
      {% for client in clients %}
      <li>
        {{ client.name }} - {{ client.identification }} - {{
        client.purchase_date }} - {{ client.purchase_value }} - {{ client.city
        }} - {{ client.business_partner.name }}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
