{% extends 'businessapp/base.html' %}
{% load static %}
{% block title %}Lista de Clientes - CrediSmart{% endblock %}
{% block content %}
    <div class="client-list-container">
        <div class="card">
            <h2>Lista de Clientes</h2>
            <button class="submit-button" onclick="window.location.href='{% url 'export_clients' %}'">Exportar Clientes</button>
            <button class="submit-button" onclick="window.location.href='{% url 'create_client' %}'">Crear Nuevo Cliente</button>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Identificación</th>
                        <th>Fecha de Compra</th>
                        <th>Valor de Compra</th>
                        <th>Ciudad</th>
                        <th>Socio Comercial</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                        <tr>
                            <td>{{ client.name }}</td>
                            <td>{{ client.identification|default:'Sin Identificación' }}</td>
                            <td>{{ client.purchase_date|date:"d/m/Y" }}</td> <!-- Cambio aquí -->
                            <td>{{ client.purchase_value|floatformat:2 }}</td>
                            <td>{{ client.city|default:'Sin Ciudad' }}</td>
                            <td>{{ client.business_partner|default:'Sin Socio'|stringformat:"s" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">No hay clientes registrados.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}