{% extends 'businessapp/base.html' %}
{% block title %}Crear Socio - CrediSmart{% endblock %}
{% block content %}
    <div class="card">
        <h2>Crear Socio Comercial</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="form-group">
                <label for="city">Ciudad:</label>
                <input type="text" name="city" id="city" required>
            </div>
            <div class="form-group">
                <label for="affiliation_date">Fecha de Afiliación:</label>
                <input type="date" name="affiliation_date" id="affiliation_date">
            </div>
            <button type="submit" class="submit-button">Crear Socio</button>
        </form>
        <a href="{% url 'partner_list' %}" class="back-button">Volver a la Lista</a>
    </div>
{% endblock %}