{% extends 'businessapp/base.html' %}

{% block title %}Iniciar Sesión - CrediSmart{% endblock %}

{% block content %}
    {% block navbar %}{% endblock %} <!-- Sobrescribe el navbar con un bloque vacío -->    
    <div class="card login-container" style="max-width: 400px; margin: 50px auto; position: relative; top: 20px;">
        <h2>Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-button" style="width: 100%; padding: 10px;">Iniciar Sesión</button>
        </form>        
        <p>¿No tienes una cuenta? <a href="{% url 'register' %}" class="back-button">Registrarse</a></p>        
    </div>
{% endblock %}